<html>
	<head>
		<title>Angular</title>
		<link rel="icon" type="image/svg+xml" href="img/Angular.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.css">
		<link id="theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/black.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/css/zenburn.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Angular<h1>
					<img data-src="img/Angular.svg" height="50%">
					<footer>
						<a href="https://github.com/pinguet62/Angular2-Presentation">
							<img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" height="50" style="border: none;" />
						</a>
						<a href="http://creativecommons.org/licenses/by-nc-sa/4.0">
							<img src="http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png" height="25" style="border: none;" />
						</a>
					</footer>
				</section>
				<section>
					<h2>Présentation (très) rapide</h2>
					<ul class="fragment" style="width:100%">
						<li>Philosophie d'AngularJS conservée</li>
						<li>Framework MVC</li>
						<li>
							Enrichissement du DOM
							<pre><code class="html"><input superman [(ngModel)]="attr">
<custom-tag></custom-tag>
<ul><li *ngFor="let it of list">{{it}}</li></ul></code></pre>
						</li>
					</ul>
					<aside class="notes">
						<ul>
							<li>
								Qui fait du développement web ?
							</li>
						</ul>
					<aside>
				</section>
				<section>
					<section>
						<h2>Ambitions</h2>
					</section>
					<section>
						<h3>Performance</h3>
						<ul>
							<li><i>Render</i> : 2,5 fois plus rapide au démarrage</li>
							<li><i>Rerender</i> : 4,2 fois plus rapide lors de l'utilisation</li>
							<li><i>Permanent</i> : 5 fois plus rapide tout le temps</li>
							<li><i>Web workers</i> : 2 fois plus rapides</li>
						</ul>
					</section>
					<section>
						<h3>Futur du web</h3>
						<ul>
							<li><i>Modulaire</i> : ES6 & TypeScript</li>
							<li>
								<i>Webcomponent</i>
								<ul>
									<li>custom element</li>
									<li>import</li>
									<li>shadow DOM</li>
								</ul>
							</li>
						</ul>
					</section>
					<section>
						<h3>Multi-plateformes</h3>
						<ul>
							<li>AngularJS étant principalement Desktop</li>
							<li>
								<ul>
									<li>Web</li>
									<li>Desktop : <a href="http://electron.atom.io">Electron</a></li>
									<li>
										Mobile
										<ul>
											<li>Mobile web : <a href="http://ionic.io/2">Ionic 2</a></li>
											<li>Mobile natif : <a href="https://www.nativescript.org">NativeScript</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</section>
					<section>
						<h3>Mais encore ?</h3>
						<ul>
							<li>Moins compliqué</li>
							<li>Plus complet</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>TypeScript</h2>
						<img data-src="img/TypeScript.png" height="30%">
					</section>
					<section>
						<h3>Qu'est-ce que TypeScript ?</h3>
						<ul>
							<li>Transpilation</li>
							<li>Date de première version : 9 février 2012</li>
							<li>Influencé par : JavaScript, C#, Java</li>
							<li>Développeur : Microsoft</li>
							<li>Licence : libre et open-source</li>
							<li>
								Avantages :
								<ul>
									<li>Typage statique</li>
									<li>Annotations</li>
								</ul>
							</li>
						</ul>
					</section>
					<section data-background-image="https://media.giphy.com/media/Ea98bxQoWmAoM/giphy.gif">
						<q>Encore un nouveau langage à apprendre ?</q>
					</section>
					<section>
						<h3>Pourquoi il faut choisir TypeScript</h3>
						<pre class="fragment"><code class="typescript">@CanSpeak('Hello world!')
class Person {
    private name: string;

    constructor(name: string) {
        this.name = name;
    }

    introduceYourself(): void {
        console.log('My name is ' + this.name);
    }
}

let p: Person = new Person('Kevin');
p.introduceYourself(); // My name is Kevin</code></pre>
						<pre class="fragment"><code class="typescript">(&lt;any&gt; p).speak(); // Hello world!</code></pre>
					</section>
					<section>
						<h4>Essayons <i>ECMAScript 6</i> !</h4>
						<pre class="fragment"><code class="typescript">class Person {
    constructor(name) {
        this.name = name;
    }

    introduceYourself() {
        console.log('My name is ' + this.name);
    }
}

let p = new Person('Kevin');
p.introduceYourself(); // My name is Kevin</code></pre>
						<q class="fragment">Heu, c'est pareil non ?</q>
					</section>
					<section>
						<h4>Quant à <i>ECMAScript 5</i>...</h4>
						<pre class="fragment"><code class="typescript">var Person = (function () {
	function Person(name) {
		this.name = name;
	}
	
	Person.prototype.introduceYourself = function () {
		console.log('My name is ' + this.name);
	};
	
	return Person;
}());

var p = new Person('Kevin');
p.introduceYourself(); // My name is Kevin</code></pre>
						<q class="fragment">Qui a compris ?</q>
					</section>
					<section>
						<h4>Typage facultatif</h4>
						<p>Type <code>any</code></p>
						<pre><code class="typescript">let p1: any = new Person('Kevin');
let p2 = new Person('Kevin');</code></pre>
					</section>
					<section>
						<h3>Les annotations</h3>
						<ul style="width:100%">
							<li class="fragment">
								TypeScript :
								<pre><code class="typescript">@CanSpeak('Hello world!')
class Person {}</code></pre>
								<pre class="fragment"><code class="typescript">function CanSpeak(message: string) {
	return function(target: Function) {
		target.prototype.speak = () => console.log(message);
	}
}</code></pre>
							</li>
							<li class="fragment">
								JavaScript :
								<pre class="fragment"><code class="typescript">CanSpeak('Hello world!')(Person);</code></pre>
							</li>
					</section>
					<section data-background-image="https://media.giphy.com/media/okzSJrCT4QlwI/giphy.gif">
						<q>Ok, TypeScript c'est cool !</q>
					</section>
				</section>
				<section>
					<h2>Communauté</h2>
					<div>
						<div>
							<div style="float:left; width:25%"><img data-src="img/TypeScript.png" height="150"></div>
							<div style="float:left; width:25%"><img data-src="img/Ionic 2.png" height="150"></div>
							<div style="float:left; width:25%"><img data-src="img/NativeScript.png" height="150"></div>
							<div style="float:left; width:25%"><img data-src="img/Electron.svg" height="150"></div>
						</div>
						<div>
							<div style="float:left; width:25%"><img data-src="img/React.png" height="100"></div>
							<div style="float:left; width:25%"><img data-src="img/Meteor.png" height="50"></div>
							<div style="float:left; width:25%"><img data-src="img/Rangle.io.png" height="50"></div>
							<div style="float:left; width:25%"><img data-src="img/Ember.png" height="75"></div>
						</div>
					</div>
				</section>
				<section>
					<h2>Angular</h2>
					<h3>En bref</h3>
					<ul>
						<li>Complie</li>
						<li>Change : détection côté DOM ou contrôleur (DataBinding)</li>
						<li>Render</li>
						<li>Dependency Injection</li>
						<li>Zones : bibiothèque séparée, développée par Angular, utilisée pour les opérations asynchrones</li>
						<li>Rerender : génération de vue côté serveur</li>
						<li>Mobile : tactile, bibliothèques intégrées</li>
						<li>Component : bibliothèques (Material 2)</li>
						<li>Debug : notamment grâce à Zone</li>
						<li>CLI : développement rapide :</li>
						<li>Intellisense : Sublime, WebStorm, Visual Studio Code</li>
						<li>I18n</li>
						<li>Animate</li>
						<li>Router</li>
						<li>ngUpgrade / ngForgrade</li>
					</ul>
				</section>
				<section>
					<h2>Types de "modules"</h2>
					<ul>
						<li>Service = simple classe avec fonctionnalités</li>
						<li>Directives (repris d'AngularJS) = modification du DOM</li>
						<li>Component = directive + template</li>
						<li>Pipe (repris d'AngularJS sous le nom de Filter) = transformateur de données</li>
					</ul>
				</section>
				<section>
					<section>
						<h2>Les services</h2>
						<ul>
							<li>Fonctionnalités</li>
							<li>Code métier</li>
							<li>Appel de webservice</li>
						</ul>
					</section>
					<section>
						<h2>AngularJS...</h2>
						<ul>
							<li>Service : propriétés = fonctions</li>
							<li>Factory : retourner un objet où les propriétés sont des fonctions</li>
							<li>Provider : propriété $get de type fonction retournant l'objet</li>
						</ul>
						<pre><code class="typescript">angular
	.module('foo')
	.service('myService', ['otherService', function(otherService) {
		this.doSomething = function (arg) {
			// ...
		}
	}]);

angular
	.module('foo')
	.factory('myService', ['otherService', function(otherService) {
		return {
			doSomething: function (arg) {
				// ...
			}
		};
	}]);

angular
	.module('foo')
	.provider('myService', ['otherService', function(otherService) {
		this.$get = function () {
			return ...
		}
	}]);</code></pre>
					</section>
					<section>
						<h2>Angular !</h2>
						<p>POO = classe + méthodes (+ attributs)</p>
						<pre><code class="typescript">import { Injectable } from '@angular/core';
import { OtherService } from '...';

@Injectable()
class MyService {
	constructor(otherService: OtherService) {
		// configuration
	}

	doSomething(arg) {
		// ...
	}
}</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Les pipes</h2>
						<p>Transformation de données</p>
						<pre><code class="html"><span>{{'toto' | upper}}</span></code></pre>
					</section>
					<section>
						<h2>Les pipes</h2>
						<h3>AngularJS...</h3>
						<p>"filter"</p>
						<pre><code class="typescript">angular
	.module('foo', [])
	.filter('upper', function() {
		return function(value, arg1, arg2) {
			return value.toUpperCase();
		};
	});</code></pre>
					</section>
					<section>
						<h2>Les pipes</h2>
						<h3>Angular !</h3>
						<p>Interface</p>
						<pre><code class="typescript">interface PipeTransform {
	transform(value: any, ...args: any[]): any;
}</code></pre>
						<p>Implémentation</p>
						<pre><code class="typescript">import { Pipe, PipeTransform } from '@angular/core';

@Pipe({ name: 'upper' })
class UpperPipe implements PipeTransform {
	transform(value: string): string {
		return value.toUpperCase();
	}
}</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Les composants</h2>
					</section>
					<section>
						<h3>En bref</h3>
						<pre><code class="typescript">import { Component } from '@angular/core';

@Component({
	selector: 'say-hello',
	template: 'Hello world!'
})
class HelloComponent {
	// properties & methods
}</code></pre>
						<ul>
							<li><code>class</code> : contrôleur</li>
							<li><code>template</code> : vue</li>
						</ul>
						<pre><code class="html"><say-hello></say-hello></code></pre>
					</section>
					<section>
						<h3>Et en JavaScript ?</h3>
						<pre><code class="typescript">(function(app) {
	app.AppComponent = ng.core
		.Component({
			selector: 'say-hello',
			template: 'Hello world!'
		})
		.Class({
			constructor: function() {}
		});
})(window.app || (window.app = {}));</code></pre>
					</section>
					<section>
						<h3>Databinding</h3>
						<ul>
							<li>Lien vue-contrôleur</li>
							<li>AngularJS : n'est plus automatiquement bi-directionnel</li>
						</ul>
						<pre><code class="typescript">@Component({
	selector: 'sample-binding',
	template: `
		<input [value]="name">
		<span>{{count}}</span>
		<button (click)="handler()">+</button>
		<input type="number" [(ngModel)]="count">`
})
export class TemplateComponent {
	name: string = 'Julien';
	count: number = 42;
	handler(): void {
		this.count ++;
	}
}</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h2>Penser "réutilisable"</h2>
					</section>
					<section>
						<h3>Hiérarchie du DOM</h3>
						<p>Pattern composite</p>
						<img data-src="img/DOM-hierarchy.png">
					</section>
					<section>
						<h3>Exemple de la racine de l'application</h3>
						<pre><code class="typescript">@Component({
	selector: 'my-app',
	template: `
		<my-menu></my-menu>
		<my-content></my-content>`
})
class AppComponent {}

@Component({
	selector: 'my-content',
	template: `
		<my-header></my-header>
		<my-details></my-details>
		<my-footer></my-footer>`
})
class ContentComponent {}</code></pre>
						<pre><code class="html"><my-app>
	<my-menu></my-menu>
	<my-content>
		<my-header></my-header>
		<my-details></my-details>
		<my-footer></my-footer>
	</my-content>
</my-app></code></pre>
					</section>
					<section>
						<h3>Orienté composant</h3>
						<img data-src="img/component.png">
						<ul>
							<li>
								100% indépendant
								<ul>
									<li>Style</li>
									<li>Contrôleur : modèle & methods</li>
								</ul>
							</li>
							<li>
								Entrée
								<ul>
									<li>Valeur</li>
									<li>Composants fils</li>
								</ul>
							</li>
							<li>Sortie : événement</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>Les paramètres</h2>
					</section>
					<section>
						<h3>La communiation</h3>
						<img data-src="img/component-communication.png">
						<ul>
							<li>
								2 sens :
								<ul>
									<li>Sous-composants : valeur</li>
									<li>Composant parent : événement</li>
								</ul>
							</li>
						</ul>
					</section>
					<section>
						<h3>L'implémentation</h3>
						<p>TypeScript : annotations</p>
						<ul>
							<li>
								Entrée :
								<ul>
									<li>Attribut : <code>@Input()</code></li>
									<li>Composants fils : <code>@ContentChild()</code></li>
								</ul>
							<li>Sortie : <code>@Output()</code></li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>Exemple: le tableau <code>&lt;table&gt;</code></h2>
					</section>
					<section>
						<p>Les valeurs à afficher</p>
						<pre><code class="typescript">interface Car {
	id: number;
	name: string;
	brand: string;
}

let cars: Car[] = [
	{ id: 1, name: 'Golf GTI', brand: 'Volkswagen' },
	{ id: 2, name: 'Décapotable rouge', brand: 'BMW' },
	{ id: 3, name: 'Matiz', brand: 'Chevrolet' }
];</code></pre>
					</section>
					<section>
						<p>Le besoin</p>
						<pre><code class="html"><p62-table [values]="cars" (selected)="onRowSelected($event)">
	<p62-column title="Code" field="id"></p62-column>
	<p62-column title="Designation" field="name"></p62-column>
	<p62-column title="Brand" field="brand"></p62-column>
</p62-table></code></pre>
						<pre><code class="typescript">@Component({
	selector: 'p62-table-sample',
	template: `...`
})
export class SampleTableComponent {
	cars: Car[];

	onRowSelected(value: Car): void {
		alert(JSON.stringify(value));
	}
}</code></pre>
					</section>
					<section>
						<p>L'implémentation</p>
						<pre><code class="html">import { Component, Input, Output, EventEmitter, ContentChildren, QueryList } from '@angular/core';
import { CommonModule } from '@angular/common';

@Component({
	selector: 'p62-column',
	template: ``
})
export class ColumnComponent {
	@Input() title: string;
	@Input() field: string;
}

@Component({
	selector: 'p62-table',
	template: `
		<table>
			<thead>
				<tr>
					<th *ngFor="let column of columns">{{column.title}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let value of values">
					<td *ngFor="let column of columns" (click)="emitSelection(value)">{{value[column.field]}}</td>
				</tr>
			</tbody>
		</table>`,
	styles: [ `
		table, th, td { border: 1px solid black; }
		thead { font-weight: bold; }`
	]
})
export class TableComponent {
	@Input() values: any[];
	@ContentChildren(ColumnComponent) columns: QueryList<ColumnComponent>;
	@Output() selected: EventEmitter<any> = new EventEmitter<any>();

	emitSelection(value: any): void {
		this.selected.emit(value);
	}
}</code></pre>
					</section>
				</section>
				<section>
					<h2>Les directive</h2>
					<ul>
						<li>Manipulation de DOM</li>
						<li>
							2 types
							<ul>
								<li>Structurelle : <code>&lt;template&gt;</code></li>
								<li>Attribut : <code>&lt;foo myDir /&gt;</code></li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h2>Programmation réactive</h2>
					<ul>
						<li>Pattern observateur</li>
						<li>Promise : natif JavaScript & ECMAScript</li>
						<li>ReactiveX : RxJS</li>
						<li>
							Objet <code>Observable&lt;&gt;</code>
							<ul>
								<li>Multi-event</li>
								<li>Stream : <i>map</i>/<i>filter</i>/<i>reduce</i></li>
							</ul>
						</li>
						<li>
							Exemples :
							<ul>
								<li><code>@Output()</code>: <code>EventEmitter&lt;&gt; extends Observable&lt;&gt;</code></li>
								<li>Webservices</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h2>Inconvénients</h2>
					<ul>
						<li>
							Setup du projet
							<ul>
								<li>QuickStart</li>
								<li>CLI</li>
							</ul>
						</li>
						<li>Coupure avec AngularJS</li>
					</ul>
				</section>
				<section>
					<h2>Migration de AngularJS</h2>
					<ul>
						<li>Possible</li>
						<li>Module <code>@angular/upgrade</code></li>
						<li>Propre ? Facile ?</li>
						<li>
							Facilitations :
							<ul>
								<li>Approche composant</li>
								<li>TypeScript</li>
								<li>Module loader (SystemJS, Webpack)</li>
								<li>
									Adapteurs :
									<ul>
										<li><code>ngForward</code> : exécuter du code Angular dans une application AngularJS (communautaire)
										<li><code>ngUpgrade</code> : coexister les 2 frameworks (Google)</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>Coupure avec AngularJS</li>
					</ul>
				</section>
				<section id="config">
					<h2>Config</h2>
					<ul>
						<li>
							Transition :
							<a href="?transition=none#/config">None</a> -
							<a href="?transition=fade#/config">Fade</a> -
							<a href="?transition=slide#/config">Slide</a> -
							<a href="?transition=convex#/config">Convex</a> -
							<a href="?transition=concave#/config">Concave</a> -
							<a href="?transition=zoom#/config">Zoom</a>
						</li>
						<li>
							Thème :
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/black.css'); return false;">Black (default)</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/white.css'); return false;">White</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/league.css'); return false;">League</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/sky.css'); return false;">Sky</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/beige.css'); return false;">Beige</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/simple.css'); return false;">Simple</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/serif.css'); return false;">Serif</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/blood.css'); return false;">Blood</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/night.css'); return false;">Night</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/moon.css'); return false;">Moon</a> -
							<a href="#" onclick="document.getElementById('theme').setAttribute('href','https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/solarized.css'); return false;">Solarized</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/head.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.js"></script>
		<script>
			Reveal.initialize({
				dependencies: [
					{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/notes/notes.js', async: true }
					//{ src: 'https://rawgit.com/hakimel/reveal.js/master/plugin/notes/notes.js', async: true }
				]
			});
		</script>
	</body>
</html>