/* Override */
.reveal pre {
	width: 100%;
}
.reveal pre code {
	max-height: none;
}
.reveal small {
	vertical-align: middle;
}

/* Custom */
.emoji {
	margin: 0 !important;
	background: none !important;
	border: none !important;
}